* {
    box-sizing: border-box;
}

body, select {
  font-size: 14px;
  margin: 0;

}

.parkForm {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

select, legend, label, input {
    text-align: center;
    margin: 5px auto;
}

legend {
    font-size: 1.5em;
}

label {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em
}

select {
    height: 30vh;
    width: 30vw;
}

.parkNumber {
    font-size: 2em;
    line-height: 1em;
    width: 30vw;
    border: 2px solid teal;
    text-align: center;
}

.parkSubmit {
    margin-top: 5vh;
    width: 30vw;
    line-height: 1.5em;
    font-size: 2em;
    background-color: aquamarine;
}

.parkSubmit:hover {
    background-color: rebeccapurple;
    color: white;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 { 
    font-size: 2em;
}

p {
  margin: 5px;
  font-size: 1em;
}

.hidden {
    display: none;
  }

#parkResults {
    width: 80vw;
    margin: 0 auto;
}

#parkResults li {
    margin: 3vw auto;
}